*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    width: 23%;
    height: 69%;
    background-color: bisque;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button{
    width: 40%;
    height: 80%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: aqua;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: crimson;
    font-size: 20px;
    transition: 0.3s ease-in-out;
    border: 5px solid brown;
}


.img{
    width: 80%;
    height: 50%;
    background-color: brown;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}

.One{
    background-image: url("./Assets/Modern\ Shoe\ One.jpg");
    background-size: contain;
    background-position: center;

}

.img:hover{
    background-size: 160px;
    cursor: pointer;
}

.two{
    background-image: url("./Assets/Monster\ shoe.jpg");
}

.three{
    background-image: url("./Assets/No\ human\ is\ limited\ shoe.jpg");
}

.four{
    background-image: url(./Assets/Survival\ hunter\ 1.jpg);
}

.card h2{
    font-size: 30px;
    color: rgb(230, 96, 7);
}

.card p{
    font-size: 20px;
    color: crimson;
}